.rsForm-fieldContainer {
  margin-bottom: 15px;
  padding: 5px 0;
  position: relative;
}

.rsForm-fieldLabel {
  display: inline-block;
  width: 100%;
}

.rsForm-inputText {
  border: 1px solid #ccc;
  padding: 8px 10px;
  transition-duration: .2s;
  width: 100%;
  
  &:focus {
    border-color: $secondary-blue;
    outline: 0;
  }

  @media #{$mobile} {
    width: 100%;
  }
  
  @media #{$tablet} {
    width: 100%;
  }
}
.rsForm-inputHint {
  color: rgba($black, .5);
  position: absolute;
  right: -70px;
  top: 46px;
  
  &:before {
    content: 'x';
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
  }
  
  @media #{$mobile} {
    display: none;
  }
  
  @media #{$tablet} {
    display: none;
  }
}

.rsForm-row {
  @include clear-fix;
}

.rsForm-col-6 {
  @include column(50%);
}

.rsForm-col-9 {
  @include column(75%);
}

.rsForm-col-3 {
  @include column(25%);
}

.rsForm-loader {
  display: none;
  height: 120px;
}

.rsForm-success-check {
  color: $cta-green;
  display: block;
  font-size: 48pt;
  text-align: center;
  
  &:before {
    content: '\e807';
    font-family: 'rswebfonts';
  }
}

.rsForm-summary {
  background-color: $white;
  border: 1px solid #afafaf;
  margin: 0 auto 20px;
  padding: 20px;
  width: 50%;
  
  @media #{$mobile} {
    width: 100%;
  }
  
  @media #{$tablet} {
    width: 100%;
  }
}

.rsForm-summary-title {
  border-bottom: 1px solid #afafaf;
  display: block;
  margin-bottom: 10px;
  padding: 10px 0;
}

.rsForm-summary-quantity {
  display: block;
  margin-bottom: 10px;
  word-spacing: 10px;
}

.rsForm-summary-products {
  border-bottom: 1px solid #afafaf;
  display: block;
  margin-bottom: 10px;
}

.rsForm-summary-total {
  font-size: 14pt;
  font-weight: bold;
}

