@import 'variables';
@import 'mixins';
@import 'multi-step';
@import 'forms';

.rs-content-body {
  position: relative;
  top: 110px;
}

.rs-content-container {
  padding: 45px 0;
}

// js helpers
.position-absolute {
  position: absolute;
}
