@mixin clear-fix() {
  &:after {
   clear: both;
   content: '';
   display: table;
 }

 &:before {
   clear: both;
   content: '';
   display: table;
 }
}

@mixin box-shadow() {
  box-shadow: 0px 4px 7px -2px rgba(0,0,0,0.36);
}

@mixin large-btn($bg) {
  background-color: $bg;
  border: 0;
  color: rgba($white, 0.85);
  padding: 5px 25px;
  transition-duration: .2s;

  &:hover {
    background-color: darken($bg, 5%);
    color: $white;
  }

  &:focus {
    @include box-shadow;
    outline: 0;
  }
}
