.rsMultiStep-progress {
  @include clear-fix;
  text-align: center;

  @media #{$tablet} {
    text-align: left;
  }

  @media #{$mobile} {
    text-align: left;
  }
}

.rsMultiStep-progressStep {
  display: inline-block;
  margin-right: 50px;
  text-align: center;

  @media #{$mobile} {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }

  @media #{$tablet} {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }
}

.rsMultiStep-progressStep-num {
  background-color: transparent;
  border: 2px solid #cecece;
  border-radius: 50%;
  color: rgba($black, .6);
  display: inline-block;
  height: 40px;
  margin-right: 10px;
  padding: 5px;
  text-align: center;
  width: 40px;
}

.rsMultiStep-progressStep-numActive {
  background-color: $base-color;
  border: 2px solid $base-color;
  color: $white;
}

.rsMultiStep {
  @include clear-fix;
  display: block;
  min-height: 1px;
  padding-top: 35px;
}

.rsMultiStep-step {
  @include box-shadow;
  background-color: $off-white;
  display: none;
  padding: 30px;
}

.rsMultiStep-step-error {
  background-color: rgba($danger-red, .075);
}

.rsMultiStep-stepActive {
  display: block;
}

.rsMultiStep-btnRow {
  @include clear-fix;
  margin-bottom: 0;
  padding: 20px 0 0;
  text-align: center;
}

.rsMultiStep-nextBtn {
  @include large-btn($secondary-blue);
  float: right;
}

.rsMultiStep-backBtn {
  @include large-btn($secondary-blue);
  float: left;
}

.rsMultiStep-submitBtn {
  @include large-btn($cta-green);
  float: right;
}

.rsMultiStep-validation-message {
  color: $danger-red;
  font-size: 11pt;
}

.rsSignup-total {
  border-top: 1px solid rgba($black, .2);
  color: rgba($black, .75);
  font-size: 16pt;
  margin-top: 20px;
  text-align: right;
}

.rsSignup-total-divider {
  color: rgba($black, .2);
  display: inline-block;
  margin: 0 10px;
}
