$base-color: #c40022;
$black: #000;
$white: #fff;
$off-white: #f3f3f3;
$fade-base: rgba($base-color, .2);
$darken-base: darken($base-color, 20%);
$danger-red: #e42626;
$secondary-blue: #708d90;
$cta-green: #5aaa28;
$desktop: 'only screen and (min-width : 993px)';
$tablet: 'only screen and (min-width:601px) and (max-width:992px)';
$mobile: 'only screen and (min-width:50px) and (max-width:600px)';
